<div class="min-w-[50%] mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= turbo_stream_from 'items' %>
  <div id="items" class="border-1 rounded-t-md">
    <%= render @items %>
  </div>

  <div class="min-w-full rounded-b-md pt-2">
    <%= render partial: 'items/form' %>
  </div>
</div>
